<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestSuite" thread-count="2" parallel="false" >

    <test name="ChromeTests">

        <parameter name="browser" value="Chrome" />

        <classes>

            <class name="CicekSepetiDemo.DemoTests">

            </class>

        </classes>

    </test>

    <test name="FirefoxTest">

        <parameter name="browser" value="Firefox" />

        <classes>

            <class name="CicekSepetiDemo.DemoTests">

            </class>

        </classes>

    </test>

</suite>